body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
  min-height: 100vh;
  min-height: 100dvh;

  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #fafaf9;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  section:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  section:nth-child(2) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    > div {
      border: 1px solid #1e3a8a;
      padding: 0.125rem;
    }
  }
}

h1 {
  background-color: #1e3a8a;
  color: white;
  padding: 0.75rem 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

table {
  width: 100%;

  tbody {
    td {
      padding: 0.25rem 0.25rem;
    }

    tr:nth-child(even) {
      background-color: white;
    }
  }

  thead {
    text-align: left;

    th {
      background-color: #1a3a70;
      color: white;
      border-right: 2px solid white;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      font-weight: 800;

      &:nth-child(3) {
        text-align: right;
      }
    }
  }

  td {
    &:nth-child(3) {
      text-align: right;
    }

    &:last-child {
      text-align: center;
    }
  }
}

form#new-cd {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &[type="text"] {
      width: 100%;
    }
  }

  label {
    min-width: 6rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #d6d3d1;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }
}

button[type="submit"] {
  filter: brightness(100%);
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(105%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

button[type="button"] {
  background-color: transparent;
  border: none;
}

button {
  &:not([disabled]) {
    cursor: pointer;
  }
}
